body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/********************************/
.not-found {
    background: #e4e4e4;
    color: #444;
}

.not-found-block {
    display: table;
    height: 100%;
    width: 100%;
}

.not-found-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    text-align: center;
}

    .not-found-inner h1 {
        font-size: 70px;
        line-height: 80px;
    }

        .not-found-inner h1 span {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 10px;
            font-weight: 400;
            text-transform: capitalize;
            display: block;
        }

    .not-found-inner .btn {
        width: 90px;
        margin-bottom: 15px;
    }
/********************************/